<div class="my-3">
    <h2>Take /  take last/ take until</h2>
    <br>
    <strong>names = ['anup','anil','ashwin','sharma','shekar','sharan']</strong>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex 01 : take 5</strong>
            <hr>
            <ul id="elContainer">

            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex 02 | takelast</strong>
            <hr>
            <ul id="elContainer1">
                
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex 03 | take until(condition)</strong>
            <hr>
            <ul id="elContainer2">
                
            </ul>
        </div>
    </div>
    </div>
