<div class="my-3">
    <h2>concat merge</h2>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>source 01 - tech channel(1)</strong>
        
            <hr>
            <p class="bg-light py-3 px-3 rounded border">
                tech vedio list - 1,2,3,4,5
               </p>  
            <br>
           
        </div>
        <div class="col-md-4">
            <strong>source 02 - comedy channel(3)</strong>
        
            <hr>

            <p class="bg-light py-3 px-3 rounded border">
               comedy vedio list - 1,2,3
               </p>  
            <br>
            
        </div>
       
        <div class="col-md-4">
            <strong>source 03 - news channel(2)</strong>
        
            <hr>
            <p class="bg-light py-3 px-3 rounded border">
                tech vedio list - 1,2,
               </p>  
            <br>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
your channel subscriber - concat
                </div>
                <div class="card-body">
<ul id="elContainer">
  
</ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
your channel subscriber - merge
                </div>
                <div class="card-body">
<ul id="elContainer1">
  
</ul>
                </div>
            </div>
        </div>
    </div>
</div>
