<div class="my-3">
    <h2>Map</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex 01</strong>
        
            <hr>
            <p class="bg-light py-3 px-3 rounded border">
                <strong>MAp</strong> data => vedio + data
               </p>  
            <br>
            <p>Message
              <strong class="text-success">{{vedio}}</strong>
            </p>
        </div>
        <div class="col-md-4">
            <strong>Ex 01</strong>
        
            <hr>

            <p class="bg-light py-3 px-3 rounded border">
                <strong>MAp</strong> data => data * 3
               </p>  
            <br>
            <p>Message
              <strong class="text-success">{{datatrans}}</strong>
            </p>
        </div>
       
        <div class="col-md-4">
            <strong>Ex 01</strong>
        
            <hr>
            <p class="bg-light py-3 px-3 rounded border">
                <strong>MAp</strong> Map object
               </p>  
            <br>
           <ul id="elContainer"></ul>
        </div>
    </div>
</div>
