<div class="my-3">
    <h2>Of and from</h2>
    <br>
    <strong>ex - 01(of)</strong>
    <hr>
    <div class="row">
        <div class="col-md-6">
          <p class="bg-light py-3 px-3 rounded border">
           <strong>data:</strong> of(Anup','Shekar','Sharma')
          </p>  
          <hr>
          <ul id="elContainer">
            
          </ul>
        </div>
        <div class="col-md-6">
          <p class="bg-light py-3 px-3 rounded border">
           <strong>data:</strong>  of(&#123;a:'anup',b:'shekar',c:'sharma'&#125;)
          </p>  
          <hr>
          <ul>
            <li><strong>a: </strong>{{obsMsg.a}}</li>
            <li><strong>b: </strong>{{obsMsg.b}}</li>
            <li><strong>c: </strong>{{obsMsg.c}}</li>
          </ul>
        </div>
    </div>
    <strong >ex - 01(from)</strong>
    <div class="row mt-4">
      <div class="col-md-4">
        <strong>Array</strong>
        <hr>
        <p class="bg-light py-3 px-3 rounded border">
          <strong>data:</strong> from([Anup','Shekar','Sharma'])
         </p>  
         <hr>
         <ul id="elContainer1">
           
         </ul>
      </div>
   
    <div class="col-md-4">
      <strong>promise</strong>
      <hr>
      <p class="bg-light py-3 px-3 rounded border">
        <strong>data:</strong> promise to observable
       </p>  
       <hr>
       <ul id="elContainer2">
         
       </ul>
    </div>
    <div class="col-md-4">
      <strong>string</strong>
      <hr>
      <p class="bg-light py-3 px-3 rounded border">
        <strong>data:</strong> string to observable
       </p>  
       <hr>
       <ul id="elContainer3">
         
       </ul>
    </div>
  </div>
   
    </div>
