<div class="my-3">
    <h2>switch map</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>source 01 - tech channel(1) | map</strong>
        
            <hr>
            <p class="bg-light py-3 px-3 rounded border">
                tech vedio list - 1,2,3,4,5
               </p>  
            <br>
            <hr>
            <ul id="elContainer">
                
            </ul>
           
        </div>
        <div class="col-md-4">
            <strong>source 02 - comedy channel(3) + map+switch all</strong>
        
            <hr>

            <p class="bg-light py-3 px-3 rounded border">
               comedy vedio list - 1,2,3
               </p>  
            <br>
            <hr>
            <ul id="elContainer1">
                
            </ul>
        </div>
       
        <div class="col-md-4">
            <strong>source 03 - news channel(2) | switch map</strong>
        
            <hr>
            <p class="bg-light py-3 px-3 rounded border">
                tech vedio list - 1,2,
               </p>  
            <br>
            <hr>
            <ul id="elContainer2">
                
            </ul>
        </div>
    </div>
</div>
