<div class="row mt-5">
    <div class="col-md-3">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            
            <div class="card-body text-center">
              <h5 class="card-title" routerLink="/observables/fromEvent">From Event</h5>
             
            </div>
          </div>
    </div>
    <div class="col-md-3">
      <div class="card border-info mb-3" style="max-width: 18rem;">
          
          <div class="card-body text-center">
            <h5 class="card-title" routerLink="/observables/interval">Interval</h5>
           
          </div>
        </div>
  </div>
  <div class="col-md-3">
    <div class="card border-info mb-3" style="max-width: 18rem;">
        
        <div class="card-body text-center">
          <h5 class="card-title" routerLink="/observables/of-from">of and from</h5>
         
        </div>
      </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/to-array">to array</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/custom-observable">Custom Observable</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/map">map</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/pluck">pluck</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/filter">filter</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/tap">tap</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/take">take / take last / take until</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/retry">retry</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/debounce">Debounce</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/concat-map">concat map</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/subject">subject and behaviour subject</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/replay">replay</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/async-subject">async subject</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/concat-merge">concat and merge</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/merge-map">merge map</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/switch-map">switch map</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/exhaust-map">exhaust map</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/share-replay">share replay</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/Combine">Combine latest and withlastest from</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/zip">zip fork join operator</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/catch-error">Catch error / throw error</h5>
       
      </div>
    </div>
</div>
</div>
