<div class="row mt-5">
    <div class="col-md-3">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            
            <div class="card-body text-center">
              <h5 class="card-title" routerLink="/observables/fromEvent">From Event</h5>
             
            </div>
          </div>
    </div>
    <div class="col-md-3">
      <div class="card border-info mb-3" style="max-width: 18rem;">
          
          <div class="card-body text-center">
            <h5 class="card-title" routerLink="/observables/interval">Interval</h5>
           
          </div>
        </div>
  </div>
  <div class="col-md-3">
    <div class="card border-info mb-3" style="max-width: 18rem;">
        
        <div class="card-body text-center">
          <h5 class="card-title" routerLink="/observables/of-from">of and from</h5>
         
        </div>
      </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/to-array">to array</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/custom-observable">Custom Observable</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/map">map</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/pluck">pluck</h5>
       
      </div>
    </div>
</div>
<div class="col-md-3">
  <div class="card border-info mb-3" style="max-width: 18rem;">
      
      <div class="card-body text-center">
        <h5 class="card-title" routerLink="/observables/filter">filter</h5>
       
      </div>
    </div>
</div>
</div>
